<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear Concierto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Datos del Concierto</h1>
        <form   th:object ="${concierto}"
                th:action ="@{/save}"
                method="POST"
            >
            <label for="Artista">Artista:</label>
            <input type="text" th:field="*{artista}" placeholder="Nombre Persona" name="nombre"/>
            <br>
            <label for="apellido1">Costo:</label>
            <input type="text" th:field="*{costo}" placeholder="Apellido 1" name="apellido1"/>
            <br>
            <label for="apellido2">Fecha:</label>
            <input type="text" th:field="*{fecha}" placeholder="Apellido 2" name="apellido2"/>
            <br>
            <label for="telefono">Capacidad Maxima:</label>
            <input type="text" th:field="*{capacidad_Max}" placeholder="Telefono" name="telefono"/>
            <br>
            <label for="email">Lugar:</label>
            <input type="text" th:field="*{lugar}" placeholder="Email" name="email"/>
            <br>
            <button type="submit" value="guardar"> Guardar </button>
            
        </form>
    </body>
</html>
